<div class="form-wrap" align = "center">
		<div class="tabs">
			<div *ngIf="showSignUp; then userSignUp else userLogin"></div>
				<ng-template #userSignUp>
					<h3 class="signup-tab"><a class="active">Sign Up</a></h3>
					<h3 class="login-tab"> <a (click)="showSignUp=false">Login</a></h3>
				</ng-template>
				<ng-template #userLogin>
					<h3 class="signup-tab"><a (click)="showSignUp=true">Sign Up</a></h3>
					<h3 class="login-tab"> <a class="active">Login</a></h3>
				</ng-template>
		</div><!--.tabs-->

				<div class="tabs-content">
					<div id="signup-tab-content" *ngIf="showSignUp" class="active">
						<form class="signup-form" action="" method="post">
							<input type="email" class="input" id="user_email" autocomplete="off" placeholder="Email">
							<input type="text" class="input" id="user_name" autocomplete="off" placeholder="Username">
							<input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Password">
							<input type="submit" class="button" value="Sign Up">
						</form><!--.login-form-->
						<div>
							<a href="http://localhost:8080/auth/facebook/">
								<button class="loginBtn loginBtn--facebook">Login with Facebook</button>
							</a>
							<a href="http://localhost:8080/auth/google/">
								<button class="loginBtn loginBtn--google">Login with Google</button>
							</a>
						</div>
						<div class="help-text">
							<p>By signing up, you agree to our</p>
							<p><a href="#">Terms of service</a></p>
						</div><!--.help-text-->
					</div><!--.signup-tab-content-->
			</div><!--.tabs-content-->

			<div class="tabs-content">
				<div id="login-tab-content" *ngIf="!showSignUp" class="active">
					<form class="login-form" action="" method="post">
						<input type="text" class="input" id="user_login" autocomplete="off" placeholder="Email or Username">
						<input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Password">
						<input type="checkbox" class="checkbox" id="remember_me">
						<label for="remember_me">Remember me</label>
						<input type="submit" class="button" value="Login">
					</form><!--.login-form-->
					<div>
						<a href="http://localhost:8080/auth/facebook/">
							<button class="loginBtn loginBtn--facebook">Login with Facebook</button>
						</a>
						<a href="http://localhost:8080/auth/google/">
							<button class="loginBtn loginBtn--google">Login with Google</button>
						</a>
					</div>
					<div class="help-text">
						<p><a href="#">Forget your password?</a></p>
					</div><!--.help-text-->
				</div><!--.login-tab-content-->
		</div><!--.tabs-content-->
	</div><!--.form-wrap-->
