<!--Header: Contains Menu and Search Bar-->
  <header>
  <ul>
    <li id="logo">
  <a style="height=50px;" routerLink="/home" routerLinkActive="active"><img src="http://www.clearscale.com/images/docker.png"></a>
</li>
<li id="search-bar-container">
  <form>
    <input type="text" id="search-bar" placeholder="What can I help you trade today?">
  </form>
</li>
</ul>
</header>

<nav ng-if="loggedOut" id = "navbar">
  <ul>
    <li>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
  </ul>
</nav>
<nav ng-if="loggedIn" id = "navbar">
  <ul>
    <li>
      <a routerLink="/profile" routerLinkActive="active">Juan</a>
    </li>
    <li>
      MyAccount
    </li>
    <li>
      Offers
    </li>
    <li>
      <button (click) = TestMethod()>Test</button>

    </li>
  </ul>
</nav>

<!-- *********** Canvas: Contains Components ************* -->
<main>
  <router-outlet></router-outlet>
</main>

<!-- ***************************************************** -->

<!-- Footer: Terms of Service and other Info-->
<footer style="background-color:orange;">
  <p>Posted by: Hege Refsnes</p>
  <p>Contact information: <a href="mailto:someone@example.com">
  someone@example.com</a>.</p>
  <a routerLink="/developers" routerLinkActive="active">Developers</a>
</footer>
