<!--Header: Contains Menu and Search Bar-->
<header>
  <form>
    <div id="logo">
      <a routerLink="/home" routerLinkActive="active">
      <img src="../assets/logo.png"></a></div>
    <div id="searchbarDiv">
      <input type="text" id="search-bar" placeholder="What can I help you trade today?">
      <a routerLink="/search-results" routerLinkActive="active"><button>Search</button></a>
    </div>
  </form>
</header>

<!-- *********** Navbar ************* -->
<nav id="mainNavbar">
  <div *ngIf="loggedIn; then userLoggedIn else userLoggedOut"></div>
  <ng-template #userLoggedOut>
    <ul>
      <li>
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </li>
    </ul>
  </ng-template>
  <ng-template #userLoggedIn>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active" (click)="Logout()">Logout</a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active">Juan</a>
      </li>
      <li>
        <a routerLink="/MyAccount" routerLinkActive="active">MyAccount</a>
      </li>
      <li>
        <a routerLink="/offers" routerLinkActive="active"> Offers</a>
      </li>
    </ul>
  </ng-template>
</nav>

<!-- *********** Canvas: Contains Components ************* -->
<main id="mainContent">
  <router-outlet></router-outlet>
</main>


<!-- Footer: Terms of Service and other Info-->
<footer id="mainFooter">
  <nav>
    <section>
      <ul>
        <li>
          <h1>About Us</h1> </li>
        <li><a routerLink="/MyAccount" routerLinkActive="active">Goals</a></li>
        <li><a routerLink="/developers" routerLinkActive="active">Developer</a></li>
      </ul>
    </section>
    <section>
      <ul>
        <li>
          <h1>Make Money</h1> </li>
        <li><a routerLink="/MyAccount" routerLinkActive="active">Sell/Trade</a></li>
        <li><a routerLink="/MyAccount" routerLinkActive="active">Advertise</a></li>
      </ul>
    </section>
    <section>
      <ul>
        <li>
          <h1>Need Help</h1> </li>
        <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
        <li><a routerLink="/MyAccount" routerLinkActive="active">MyAccount</a></li>
      </ul>
    </section>
  </nav>
</footer>
